__pycache__/run.cpython-38.pyc
apps/__pycache__/__init__.cpython-38.pyc
apps/__pycache__/config.cpython-38.pyc
apps/__pycache__/events.cpython-38.pyc
apps/__pycache__/extensions.cpython-38.pyc
apps/authentication/__pycache__/__init__.cpython-38.pyc
apps/authentication/__pycache__/forms.cpython-38.pyc
apps/authentication/__pycache__/models.cpython-38.pyc
apps/authentication/__pycache__/routes.cpython-38.pyc
apps/authentication/__pycache__/util.cpython-38.pyc
apps/home/__pycache__/__init__.cpython-38.pyc
apps/home/__pycache__/camera.cpython-38.pyc
apps/home/__pycache__/employee_models.cpython-38.pyc
apps/home/__pycache__/mycamera.cpython-38.pyc
apps/home/__pycache__/routes.cpython-38.pyc
migrations/alembic.ini
migrations/env.py
migrations/README
migrations/script.py.mako
migrations/__pycache__/env.cpython-38.pyc
migrations/versions/35d6edc09764_initial_migration.py
migrations/versions/__pycache__/35d6edc09764_initial_migration.cpython-38.pyc
