<nav class="navbar navbar-top navbar-expand navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Search form -->
      <a href="/index" class=" d-none d-lg-flex align-items-center justify-content-center ">

        <img src="/static/assets/img/brand/logo.png" class="logo-xs" alt=""> 
   
      </a>
      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center ml-lg-auto ">
        <li class="nav-item d-lg-none">
          <!-- Sidenav toggler -->
          <div class="pr-3 sidenav-toggler sidenav-toggler-light" data-action="sidenav-pin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </li>
        
        <a href="/index" class="d-flex d-lg-none  align-items-center justify-content-center ">

          <img src="/static/assets/img/brand/logo.png" class="logo-xs" alt="">
           <h4 class=" ml-2 mb-0 fw-bold">Smart <br/> Attendance</h4>
    
        </a>
        {% if 'index' in segment %}
        <a class="d-none d-lg-flex nav-link mr-3 border border-danger px-3 py-1 cursor-pointer  "  id="resetbutn">
          <i class="ni ni-button-power text-danger"></i>
  
          <span class="ml-2 nav-link-text text-danger">Reset Demo</span>
        </a>
        {% endif %}
        <a class="d-none d-lg-flex nav-link mr-3 border border-dark px-3 py-1 {% if 'index' in segment %} bg-dark text-light {% endif %}" href="/index">
          <i class="ni ni-camera-compact"></i>

          <span class="ml-2 nav-link-text">View Cameras</span>
        </a>
        <a class="d-none d-lg-flex nav-link border border-dark px-3 py-1 {% if 'reports' in segment %} bg-dark text-light {% endif %}" href="/reports">
          <i class="ni ni-bullet-list-67"></i>

          <span class="ml-2 nav-link-text">View Report</span>
        </a>
         
      </ul>
      <ul class=" navbar-nav align-items-center  ml-auto ml-lg-0 ">
         
        <li class="d-none d-lg-flex nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="/static/assets/img/theme/team-4.jpg">
              </span>
              <div class="media-body  ml-2  d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">
                  {{ current_user.username }}
                </span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu  dropdown-menu-right ">
              
            <a href="{{ url_for('authentication_blueprint.logout') }}" class="dropdown-item">
              <i class="ni ni-user-run text-red"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>